<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Orange_HRMP3" parallel="tests" thread-count="1" preserve-order="true">
    <parameter name="browserName" value="chrome-headless"/>
    <suite-files>
        <suite-file path="add_PIM_and_Search.xml"/>
        <suite-file path="add_Admin_and_Search.xml"/>
        <suite-file path="assertion_on_pages.xml"/>
    </suite-files>
</suite>